%box-alert { 
  display: block; 
      margin: 10px 0;
      padding: 10px;
      box-shadow: 1px 1px 2px black;
      border-radius: 6px;
      color: white; /*Regra criada para ser definido o conceito de herança para elementos do meu código selecionados*/
}