$color-primary: black;/*forma correta de declarar variável no scss*/
$color-secondary: red;

$font-primary:'Arial', sans-serif;
$font-secondary: 'Verdana', sans-serif;

$margin-container: 20px 30px 12px 44px;
