body{  /*Para que o corpo do conteúdo mude a cor, necessário ir no html e configurá-lo*/
  background: #d1d1d1; /*Alteração da cor do corpo do site*//*O "r=red",g="green", "b=blue" e o "rgba" significa a transparência da página. O "#ffff00 é uma forma de rgb decimal, não sendo possível usar a transparência*/
}


P{ /*Altera a cor dos iparágrafos*/
  color: rgb(33, 33, 33); /*para converter de decimal para rgb, deve ir no google e converter online para rgb*/
}

.foto-principal{
  width: 200px;/*reduzi a imagem porque estava muito grande*/
  border: 2px solid #b53131; /*regra para borda da imagem. Lembrando que essa regra é uma regra simplificada, onde eu consigo escrever 3 propriedades dentro do border, segue exemplo abaixo de bordas não simplificadas*/
  /*border-width: 5px;
  border-style: solid;
  border-color: black;*/
  border-radius: 50%;/*Permite deixar a borda um pouco mais redonda, conforme o valor desejado do dev, ou seja, quanto mais for o valor, mais redonda será a borda. Para que a borda fique exatamente circular, coloca-se o 50%. Pode-se colocar mais 3 valores distintos, conforme ao que o dev deseja colocar. O primeiro valor o corresponde ao canto superior esquerdo, o "segundo valor" canto superior direito, "o terceiro valor" canto inferior direito, e o "quarto valor" canto inferior esquerdo*/
  
  /*margin-top: 30px; ajuda no espaçamento da parte de cima da imagem. Estabelece uma margem
  margin-bottom: 100px; espaçamento da parte de baixo da imagem com o texto
  margin-left: 500px; espaçamento da esquerda para direita da imagem*/
  margin: 30px 30px 30px 30px;/*Valores: topo, direita, baixo,esquerda*/

  padding: 10px ;/*tem o mesmo comportamento similar ao margin, tendo padding top,bottom, left, right, porém opera com o espaçamento interno.*/
}