* {
  margin: 0;
  padding: 0;
}

.quadrado {
  position: fixed;/*faz com o que o menu fique fixo na tela, conforme o scroll*/
  /*top: 0;significa que eu não quero que tenha nenhuma distância do topo*/
  left: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background: black;
  color: red;
  font-size: 11px;
  
}

.circulo {
  position: absolute;/*faz com o que elemento fique absolutamente parado*/
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50px;
  color: red;
  font-size: 11px;
}

p {
  margin: 50px;
  width: 300px;
}